<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adminpanel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminDoctorAvailable"></activity>
        <activity android:name=".DoctorCancelApp" />
        <activity android:name=".AdminCancelApp" />
        <activity android:name=".AdminUpdates" />
        <activity android:name=".UserSupport" />
        <activity android:name=".AllAppointments" />
        <activity android:name=".PrescribeMedicine" />
        <activity android:name=".PatientData" />
        <activity android:name=".AssignDoctor" />
        <activity android:name=".ConfirmAppointment" />
        <activity android:name=".DoctorHome" />
        <activity android:name=".AdminHome" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".AddNewEpisode" />
        <activity android:name=".DefaultView" />
        <activity android:name=".AddNewDrama" />
        <activity android:name=".PatientUpdates" />
        <activity android:name=".PatientCancelApp" />
        <activity android:name=".PatientDoctorsAvailable" />
        <activity android:name=".BookAppointment" />
        <activity android:name=".PatientHome" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>